<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.mapper.ActivityMapper">
    <select id="queryActivityList" resultType="Activity">
        select * from activity
    </select>
    <select id="queryActivityByStatus" parameterType="Integer" resultType="Activity">
        select * from activity where status = #{status}
    </select>
    <select id="queryActivityByName" parameterType="String" resultType="Activity">
        select * from activity where name = #{name}
    </select>
    <select id="queryAvailableActivityByTime" resultType="Activity">
        select * from activity where #{start_time} > now()
    </select>
    <select id="queryGoingActivityByTime" resultType="Activity">
        select * from activity where now() >= #{start_time} and #{end_time} >= now()
    </select>
    <select id="queryFinishedActivityByTime" resultType="Activity">
        select * from activity where now() > #{end_time}
    </select>
    <insert id="addActivity" parameterType="Activity">
        insert into activity (id, name, introduction, start_time, end_time, capacity, status, model) values (#{id}, #{name}, #{introduction}, #{start_time}, #{end_time}, #{capacity}, #{status}, #{model})
    </insert>
    <update id="updateActivity" parameterType="Activity">
        update user set name=#{name}, introduction=#{introduction}, start_time=#{start_time}, end_time=#{end_time}, capacity=#{capacity}, status=#{status}, model=#{model} where id = #{id}
    </update>
    <delete id="deleteActivity" parameterType="int">
        delete from activity where id = #{id}
    </delete>
</mapper>