html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  font-size: .875rem;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.activity-header {
  width: 100%;
  color: #0b2e13;
  border: 2px dashed #dee2e6;
  text-align: center;
  font-family: 楷体;
}

.activity-factor {
  color: #0a58ca;
  font-family: 宋体;
  margin-top: 20px;
  margin-bottom: 20px;
}

.activity-photo {
  width: 50%;
}

.activity-contents {
  width: 50%;
  height: 100%;
}

.introduction {
  font-family: 宋体;
  text-indent: 2em;
}
